
<div class="booklistcard">
    <div class="img-container">
        {{ with .Resources.GetMatch "cover.*" }}
        <img src="{{ .RelPermalink }}" alt="{{ .Params.alt }}">
        {{ end }}
    </div>
    <div class="infocontainer">
        <div class="bookinfo">
            <h4 class="title">{{ .Params.title }}</h4>
            <p class="author">By: {{ .Params.author}}</p>
            {{ if .Params.series.seriesname }}
            <p class="series">{{ .Params.series.placeinseries }}/{{ .Params.series.serieslength }} in {{ .Params.series.seriesname }}</p>
            {{ end }}
        </div>
        <div class="review">
            {{ if .Params.rating }}
            <div class="Stars" style="--rating: {{ .Params.rating }};"></div>
            <p class="date">{{- partial "date.html" .Date -}}</p>
            {{ end }}
        </div>
    </div>
</div>