<nav>
    <ul id="main-nav">
        <li><a href="/" >Home</a></li>
        <li><a href="/posts/">Posts</a></li>
        {{ $pagesDir := .Site.Params.Pages | default (slice "pages") }}
        {{ $pagesList := where .Site.RegularPages "Section" "in" $pagesDir }}
        {{ range $pagesList }}
            <li><a href="{{ .Permalink }}">
                {{ or .Params.Button .Title }}
            </a></li>
        {{ end }}
        {{ range .Site.Menus.main }}
            <li><a href="{{ .URL | safeURL }}">{{ .Name }}</a></li>
        {{ end }}
            <li><a href="/tags/">{{ i18n "tags" }}</a></li>
    </ul>
</nav>
