{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
<ul class="list">
        {{ range .Pages }}
            <li>
                <div>
                    <span class="date">
                        {{- partial "date.html" .Date -}}
                    </span>
                    <span>
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                        {{- if ne (.Date | time.Format "Jan 02, 2006 3:04 PM Z07:00") (.Lastmod.Format "Jan 02, 2006 3:04 PM Z07:00")
                        -}}
                        &nbsp;(updated: {{- partial "date.html" .Lastmod -}})
                        {{ end }}                    </span>
                </div>
            </li>
        {{ end }}
</ul>
{{ end }}