<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    <div id="baseContainer">
        <header>
            {{ partial "header.html" . }}
        </header>
        <div id="contentContainer">
            <div id="content">
                <main>
                    {{ block "main" . }}
                    This will be replaced with content from the
                    corresponding "define" action found in the template
                    to which this base template is applied.
                    {{ end }}
                </main>
            </div>
                <footer>
                    {{ partial "footer.html" . }}
                </footer>

        </div>
    </div>
</body>

</html>