{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}
{{ $books := where site.RegularPages "Section" "eq" "books" }}
{{ $readpages := where $books "Params.status" "Read"}}
{{ $reading := where $books "Params.status" "Currently reading"}}

<h2>Currently reading</h2>
{{ range $reading}}
    {{- partial "book_card.html" . -}}
{{ end }}


<h2>Read</h2>
    {{ range $readpages.GroupByDate "January 2006" }}
    <h3>{{ .Key }} </h3>
        {{ range .Pages}}
            {{- partial "book_card.html" . -}}
        {{ end }}
    {{ end }}

{{ end }}